body{
	font-family: Arial;
	font-size: 16px;
}

.Card{
	width: 200px;
	background: #C2AC37;
	border: 5px solid gray;
	border-radius: .5em;
}

.Card-description{
	background: white;
	padding: .5em;
	font-size: 12px;
}

.Card-image{
	width: 100%;
}